# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations (optional)
*/migrations/__pycache__/
*.pyc

# Virtual environments
venv/
env/
